#wrapper,
.container,
#content-wrapper{
    padding: unset !important;
    width: 100%;
}
#tinys-landing-page *{
    color:var(--primary-color);
}
#tinys-landing-page ul{
    list-style:unset;
}
.landing-title{
    font-size: 2rem;
    font-weight:300;
}
.landing-title strong{
    font-weight: 700;
}
section.container,
.tea-landing.tinys-landing-content-image{
    margin: 1.5rem auto;
    width: 80%;
    line-height: normal;
}
.tea-landing{
    width: 100%;
    height: 10rem;
    background-color: springgreen;
    background-size: cover;
    background-position: center;
}