#gomakoil_faq_settings_form .form-wrapper,
#gomakoil_faq_form .form-wrapper,
#gomakoil_faq_category_form .form-wrapper{
    width: 100%;
    margin:0;
    max-width: 100%;
}

#gomakoil_faq_settings_form .form-group .col-lg-8,
#gomakoil_faq_settings_form .codeMirror .col-lg-8,
#gomakoil_faq_form .form-group .col-lg-8,
#gomakoil_faq_category_form .form-group .col-lg-8{
    width: 75%;
}

#gomakoil_faq_settings_form .form-group .col-lg-4,
#gomakoil_faq_settings_form .codeMirror .col-lg-4,
#gomakoil_faq_form .form-group .col-lg-4,
#gomakoil_faq_category_form .form-group .col-lg-4{
    width: 25%;
}

#gomakoil_faq_settings_form .codeMirror .col-lg-4{
    width: 100%;
    font-size: 17px !important;
    text-align: left !important;
    margin-bottom: 20px !important;
}

#gomakoil_faq_settings_form .codeMirror .col-lg-8 {
    width: 100%;
    margin-left: 0px;
    border: 1px solid #dadada;
    padding-left: 0px;
}

#gomakoil_faq_settings_form .support_tab_content .col-lg-8 {
    width: 100%;
}

#gomakoil_faq_form .form-group,
#gomakoil_faq_category_form .form-group{
    margin-bottom: 15px;
}

#gomakoil_faq_form #add_products_item {
    padding: 3.5px 16px;
}

#gomakoil_faq_form .form-group .alert-warning {
    font-size: 10px;
    padding: 18px 15px 16px 45px;
}

#gomakoil_faq_form .chosen-container-single-nosearch .chosen-search {
    padding: 0 !important;
}

#gomakoil_faq_form .chosen-container-single .chosen-single div b {
    padding-top: 5px;
}

#gomakoil_faq_form .form-group .input-group-addon .btn,
#gomakoil_faq_category_form .form-group .input-group-addon .btn {
    padding: 10px 16px !important;
}

#gomakoil_faq_form .customer-question-btn-fg .prestashop-switch {
    height: 22px !important;
    margin-top: 5px !important;
}
#categoryBox_chosen ,
.mpm-faqs-question-parent-category #categoryBox {
    width: 350px !important;
}
.form-group.textarea_block.question_field textarea{
    min-height: 120px !important;
    height: 120px !important;
}
.form-group.textarea_block.answer_field textarea{
    min-height: 300px !important;
    height: 300px !important;
}